server:
  port: 8080
  servlet:
    session:
      cookie:
        name: TESTINGSESSION

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always

app:
  allowed-origin: ${APP_ALLOWED_ORIGIN}
